### Fundamentos Python

### Este Notebook possui comandos básicos em Python.
### Procure entender a sintaxe e executar os comandos, com pressione 'shift + enter'.
### Este notebook relaciona-se com os primeiros 6 notebooks do curso de Dynamic Programming.
### Dúvidas ou comentários = profandre.luis@fiap.com.br

### Principais Tipos de Números

int ==> Números inteiros positivos ou negativos. Exemplos: -7 e 7                                                                
float ==> Números fracionários positivos ou negativos. Exemplos: -7,1 e 7.1

In [1]:
# Função type() para saber qualo tipo do número
type(-7)

int

In [2]:
type (7.1)

float

### Funções int() e float() para converter os números.
### São funções nativas do Python, sem necessidade de definir.

In [3]:
num_int   = int(7.5)     #coleta a parte inteira do valor

num_float = float('7')   #transforma um número no formato string em um float

In [4]:
print(num_int,' ; ',num_float)

7  ;  7.0

In [5]:
zera_vazio = float('')
# para se entender quando a função não se aplica, indica problemas.

ValueError: could not convert string to float:

In [6]:
print(zera_vazio)
# nesse caso, a variável 'zera_vazio' devia ser definida previamente.

NameError: name 'zera_vazio' is not defined

In [7]:
zera_vazio=float('0')
# definição prévia da variável, que chama o resultado de uma função.

In [8]:
print(zera_vazio) # execução da função 'print', instanciada com a variável.

0.0

### Operações com números

In [2]:
# Soma
3+2 
# perceba que esse resultado não está associado a variável.
# assim sendo, não será guardado na memória, apenas exibido no comando.

5

In [10]:
# Subtração - mesmos comentários acima.
3-2

1

In [11]:
# Multiplicação
3*2

6

In [12]:
# Potência
3**2

9

In [13]:
# Divisão (resultado é um número float)
3/2

1.5

In [14]:
# Divisão (resultado é um número inteiro)
3//2 # toma-se a parte inteira da divisão. Não se considera o resto.

1

In [15]:
# Módulo (resto da divisão)
3%2 # deseja-se conhecer o resto da divisão

1

### Operações relacionais

In [16]:
# Igualdade
5==5  # importante usar os dois sinais!!

True

In [17]:
# Desigualdade
5 != 5

False

In [18]:
# Maior que 
5 > 5.0

False

In [19]:
# Maior que u igual a
5 >= 5.0

True

In [20]:
# comparação em relação a valor 'menor'
5 < 4.0

False

### Operações com variáveis

In [5]:
renda1 = 2000 # definição da variável 'renda1'

In [6]:
renda2 = 3000

In [7]:
renda1 + renda2 
# soma de variáveis. 
# Esse valor não será salvo porque não foi associado a variável.

5000

In [8]:
soma_renda = renda1 + renda2 # definição de nova variável com a soma.

In [9]:
print(soma_renda)

5000

In [11]:
print(round(soma_renda/2)) 
# valor arrendondado em termos de casas decimais
# round (valor, número de casas)
# se não houver o número de casas, no exemplo, então será inteiro apenas.

2500

### Concatenação de Variáveis

In [12]:
Nome      = 'Alberto' # variável 'Nome'
Sobrenome = 'Nepomuceno' # variável 'Sobrenome'

In [14]:
nomeCompleto = Nome +' '+ Sobrenome + ': Musico Brasileiro'
print(nomeCompleto)

Alberto Nepomuceno: Musico Brasileiro

### Strings

### Strings são usadas para gravar informações em formato texto (sequência de caracteres)

In [29]:
# texto é uma variável utilizada para armazenar o valor da string
texto = "Uma sequencia de caracteres"

In [30]:
type (texto)
print(type(texto), texto)

<class 'str'> Uma sequencia de caracteres

In [31]:
# Indexação de uma string - usar colchetes e o número do índice

In [32]:
texto[0] + texto [1] + texto[2]

'Uma'

In [33]:
# Slicing - partição ou fatiamento
texto[0:5]

'Uma s'

In [34]:
print("Uma sequencia \n de caracteres") # \n significa pular a linha

Uma sequencia
 de caracteres

In [35]:
print(texto.upper()) # para maíusculas apenas

UMA SEQUENCIA DE CARACTERES

In [36]:
texto.count("a") # quantas vezes a string 'a' aparece na variável texto

4

In [37]:
texto.find('a') 
# acha a primeira ocorrência(índice) de 'a' na variável texto

2

### Estruturas de Dados

In [38]:
Lista = ['item1','item2','item3'] # array = lista

In [39]:
# Informações de Cadastro: 
# seq,id,idade,sexo,anos_estudo,cor/raca,salario,estado_civil ((1) Casado, (0) não casado) ,regiao

In [40]:
listaCadastro0 = ['0','11001901101.0','53','homem','5.0','Parda','63600.0','1.0','norte']

In [41]:
listaCadastro0[6]

'63600.0'

In [42]:
listaCadastro1 = ['1','11001901102.0','49','mulher','8.0','Amarela1', ' ','1.0','norte']

In [43]:
listaCadastro1[4]

'8.0'

In [44]:
listaCadastro2 = ['2','11001901103.0','22','mulher','11.0','Indigena','4352.400390625','0.0','nordeste']

In [45]:
listaCadastro2[5]

'Indigena'

In [46]:
listaCadastro = [] # cria-se uma lista vazia que será enchida depois
listaCadastro = [listaCadastro0] + [listaCadastro1] + [listaCadastro2]

In [47]:
print(listaCadastro)

[['0', '11001901101.0', '53', 'homem', '5.0', 'Parda', '63600.0', '1.0', 'norte'], ['1', '11001901102.0', '49', 'mulher', '8.0', 'Amarela1', ' ', '1.0', 'norte'], ['2', '11001901103.0', '22', 'mulher', '11.0', 'Indigena', '4352.400390625', '0.0', 'nordeste']]

In [48]:
print(listaCadastro[1])

['1', '11001901102.0', '49', 'mulher', '8.0', 'Amarela1', ' ', '1.0', 'norte']

### Função enumerate

In [49]:
enumerate(listaCadastro) # separa os componentes de uma lista

In [50]:
list(enumerate(listaCadastro))

[(0,
  ['0',
   '11001901101.0',
   '53',
   'homem',
   '5.0',
   'Parda',
   '63600.0',
   '1.0',
   'norte']),
 (1,
  ['1',
   '11001901102.0',
   '49',
   'mulher',
   '8.0',
   'Amarela1',
   ' ',
   '1.0',
   'norte']),
 (2,
  ['2',
   '11001901103.0',
   '22',
   'mulher',
   '11.0',
   'Indigena',
   '4352.400390625',
   '0.0',
   'nordeste'])]

In [51]:
# Vamos realizar uma iteração (comando for) para imprimir os itens da lista cadastro

In [52]:
for indice, row in enumerate(listaCadastro):
    print(indice, row) # são dois elementos a serem impressos.

0 ['0', '11001901101.0', '53', 'homem', '5.0', 'Parda', '63600.0', '1.0', 'norte']
1 ['1', '11001901102.0', '49', 'mulher', '8.0', 'Amarela1', ' ', '1.0', 'norte']
2 ['2', '11001901103.0', '22', 'mulher', '11.0', 'Indigena', '4352.400390625', '0.0', 'nordeste']

In [53]:
# Vamos Calcular o valor médio da renda para os dados da lista de cadastro (arqCadastro)

In [54]:
n=0 # um indicador ou somador
somatorio_renda=0 # outro indicador ou somador

for indice, row in enumerate(listaCadastro):
    if indice>=0:
        somatorio_renda += float(row[6]) # somar os valores de índice 6.
        n=n+1 # acrescenta-se uma unidade no somador
        
media_renda = float(somatorio_renda/n) # definição de média
print('Média da Coluna Renda =',media_renda)

ValueError: could not convert string to float:

In [55]:
# Transforma " "  em valor zero

In [56]:
for indice, row in enumerate(listaCadastro):

    if indice >= 0:
        if row[6] == " ": # note que esse vazio criou o problema acima.
            row[6] = 0 # declaração que serve para alterar valores.

In [57]:
for indice, row in enumerate(listaCadastro):
    print(indice, row)

0 ['0', '11001901101.0', '53', 'homem', '5.0', 'Parda', '63600.0', '1.0', 'norte']
1 ['1', '11001901102.0', '49', 'mulher', '8.0', 'Amarela1', 0, '1.0', 'norte']
2 ['2', '11001901103.0', '22', 'mulher', '11.0', 'Indigena', '4352.400390625', '0.0', 'nordeste']

In [58]:
# código original. Não é necessário rodar como abaixo. Apenas didático.
n=0
somatorio_renda=0

for indice, row in enumerate(listaCadastro):
    if indice>=0:
        somatorio_renda+=float(row[6])
        n=n+1
        
media_renda = float(somatorio_renda/n)
print('Média da Coluna Renda =',media_renda)

Média da Coluna Renda = 22650.800130208332

### Gravando a lista de cadastro em um arquivo txt

In [59]:
# O arquivo Doc1.txt já existe. 
# Foi criado no mesmo diretório onde está o notebook e está vazio

arquivoCadastro = open("Doc1.txt", "w")

In [60]:
arquivoCadastro.write('0, 11001901101.0, 53, homem, 5.0, Parda, 53600.0, 1.0, norte\n1, 11001901102.0, 49, mulher, 8.0, Amarela1, 0, 1.0, norte ')

120

In [61]:
arquivoCadastro.close()

In [62]:
arquivoCadastro = open("Doc1.txt","r") # r = modo de leitura ou 'read'

In [63]:
print(arquivoCadastro.read())

0, 11001901101.0, 53, homem, 5.0, Parda, 53600.0, 1.0, norte
1, 11001901102.0, 49, mulher, 8.0, Amarela1, 0, 1.0, norte

### FIM